{% extends 'layout.html' %}

{% block body %}
<br>
<br>
<br>

<div class="container" style="background-color: antiquewhite;">
    <div class="row">
        <!-- Map Column -->
        <br>
        <br>

        <div class="col-lg-8 mb-4">
            <!-- Embedded Google Map -->
            <iframe  class="embed-responsive embed-responsive-16by9"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3782.8974224431504!2d73.82913981436889!3d18.533537023615896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2bf7a1e67a9fb%3A0xbc58f09f640e3bfd!2sLaxmi%20Society%2C%20Model%20Colony%2C%20Shivajinagar%2C%20Pune%2C%20Maharashtra%20411016!5e0!3m2!1sen!2sin!4v1587720494251!5m2!1sen!2sin"
                width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                tabindex="0"></iframe>
        </div>
        <!-- Contact Details Column -->
        <div class="col-lg-4 mb-4">
            <h3>Contact Details</h3>
            <p>
                PES's MCOE, IT Dept,
                <br>Shivajinagar, Pune-05.
                <br>
            </p>
            <p>
                <abbr title="Phone">Phone</abbr>: 020-99999999
            </p>
            <p>
                <abbr title="Email">E-mail</abbr>:
                <a href="mailto:shantanu299@gmail.com">shantanu299@gmail.com
                </a>
            </p>

        </div>
    </div>
    <!-- /.row -->

    <!-- Intro Content -->
    <div class="row">
        <div class="col-lg-6">
            <img class="img-fluid rounded mb-4" src="../static/parallax1.jpg" alt="">
        </div>
        <div class="col-lg-6">
            <h2>About Docufy</h2>
            <p>Docufy is a system which provides ...</p>
            <p>Our general observation is that, ...</p>
        </div>
    </div>
    <!-- /.row -->

    <!-- Team Members -->

    <h2>Our Team</h2>

    <div class="row">

        <div class="col-lg-4 mb-4" style="max-width: 17rem;">
            <div class="LI-profile-badge" data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical"
                data-theme="dark" data-vanity="shantanu-sarode-716085183"><a class="LI-simple-link"
                    href='https://in.linkedin.com/in/shantanu-sarode-716085183?trk=profile-badge'>Shantanu
                    Sarode</a>
            </div>
        </div>


        <div class="col-lg-4 mb-4" style="max-width: 17rem;">
            <div class="LI-profile-badge" data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical"
                data-theme="dark" data-vanity="shantanu-sarode-716085183"><a class="LI-simple-link"
                    href='https://in.linkedin.com/in/shantanu-sarode-716085183?trk=profile-badge'>Shantanu
                    Sarode</a>
            </div>
        </div>

        <div class="col-lg-4 mb-4" style="max-width: 17rem;">
            <div class="LI-profile-badge" data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical"
                data-theme="dark" data-vanity="shantanu-sarode-716085183"><a class="LI-simple-link"
                    href='https://in.linkedin.com/in/shantanu-sarode-716085183?trk=profile-badge'>Shantanu
                    Sarode</a>
            </div>
        </div>

        <div class="col-lg-4 mb-4" style="max-width: 17rem;">
            <div class="LI-profile-badge" data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical"
                data-theme="dark" data-vanity="shantanu-sarode-716085183"><a class="LI-simple-link"
                    href='https://in.linkedin.com/in/shantanu-sarode-716085183?trk=profile-badge'>Shantanu
                    Sarode</a>
            </div>
        </div>

    </div>

    <!-- /.row -->
    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
</div>
<br>
<br>
<br>
{% endblock %}