{% extends 'layout.html' %}

{% block body %}
<center>
    <div class="container sq " >
        <h3>Welcome to Docufy</h3>

        <a href="/admin" <button type="button" class="btn btn-primary">Admin Login</button></a>
        <a href="/userlogin" <button type="button" class="btn btn-primary">User Login</button></a>
        <a href="/register" <button type="button" class="btn btn-primary">Register as User</button></a>
        <a href="/index" <button type="button" class="btn btn-primary">Whole Module</button></a>
    </div>
</center>
{% endblock %}